<!DOCTYPE html>
<html lang="en">

<head>
  <base href="../../" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="./favicon.png" />
  <title>HI-EDDY</title>
  <style>
    body {
      opacity: 0;
      transition: 0.3s;
    }
  </style>
</head>

<div class="courses__footer">
  <div class="courses__footer-left">
    <p class="courses__footer-main-text">Місія проекту</p>
    <p class="courses__footer-text">Давати людям знання з найактуальніших тем сьогодення за допомогою
      уроків,
      які дають користувачу
      унікальний досвід користування та переносять його у дивні світи тем, <br> що вивчаються.</p>
  </div>

  <div class="courses__footer-center">
    <p class="courses__footer-main-text">Навчання</p>
    <div class="courses__footer-section">
      <div class="courses__footer-text">
        <p><a class="courses__footer-column" href="">Курси</a></p>
        <p><a class="courses__footer-column" href="">Про нас</a></p>
        <p><a class="courses__footer-column" href="">Місія</a></p>
      </div>
      <div class="courses__footer-text">
        <p><a class="courses__footer-column" href="">Ціни</a></p>
        <p><a class="courses__footer-column" href="">Як це працює</a></p>
        <p><a class="courses__footer-column" href="">Уроки</a></p>
      </div>
    </div>
  </div>

  <div class="courses__footer-right">
    <p class="courses__footer-main-text">Наші соціальні мережі</p>
    <a href="">
      <img class="courses__footer-media-icon" src="./img/facebook.svg" alt="">
    </a>
    <a href="">
      <img class="courses__footer-media-icon" src="./img/instagram.svg" alt="">
    </a>
    <a href="">
      <img class="courses__footer-media-icon" src="./img/messenger.svg" alt="">
    </a>
    <div class="courses__footer-media-mail">
      <div class="courses__footer-media-icon-mail">
        <a href="#">Help@hi-eddy.com
          <img class="" src="./img/mail.com.svg" alt="">
        </a>
      </div>
      <p class="courses__footer-media-text">Help@hi-eddy.com</p>
    </div>
  </div>
  
</div>
</div>


<img class="footer__rock" src="./img/left-corner-rock.svg" alt="">
<img class="footer__duck-small" src="./img/duck.svg" alt="">
<img class="footer__duck-vision" src="./img/duck.svg" alt="">
<img class="footer__duck-right" src="./img/duck.svg" alt="">
<img class="footer__icon" src="./img/icon.svg" alt="">
<img class="footer__duck-big" src="./img/duck.svg" alt="">
<img class="footer__liqpay" src="./img/liqpay.png" alt="">
<img class="footer__visa" src="./img/visa.png" alt="">
<img class="footer__mastercard" src="./img/mastercard.png" alt="">
<img class="footer__water" src="./img/water-rect.png" alt="">

</div>

<body>
  <br />
  <div data-doc-component="getFooter">
    <h1>footer</h1>
  </div>

  <div data-decorator="doc"></div>
  <div data-component="getFooter"></div>

  <script src="./js/helpers.js"></script>
</body>

</html>