.footer-info {
  margin-left: 240px;
  display: flex;
  justify-content: space-around;
}

.footer-info__left {
  width: 304px;
}

.footer-info__section {
  display: flex;
}

.footer-info__main-text {
  font-size: 22px;
  font-weight: 600;
  line-height: 29px;
  color: #520096;
}

.footer-info__column {
  margin-right: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #9747FF;
}

.footer-info__text {
  font-size: 14px;
  font-weight: 500;
  color: #9747FF;
  line-height: 18px;
}

.footer-info__media-icon {
  background: #EBF6FD;
  width: 38px;
  height: 36px;
  border-radius: 16px;
 padding: 8px;
  margin-right: 12px;
}

.footer-info__media-mail {
  display: flex;
  text-align: center;
  margin-top: 26px;
  padding-top: 8px;
}

.footer-info__media-icon-mail {
  background: #EBF6FD;
  border-radius: 16px;
  width: 26px;
  height: 26px;
  padding-top: 3px;
}

.footer-info__media-text {
  margin-left: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #9747FF;
}


.footer {
  padding-top: 150px;
  position: relative;
}

.footer__water {
  height: 55px;
  width: 100%;
  display: block;
}

.footer__rock {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__duck-small {
  position: absolute;
  width: 33px;
  height: 19px;
  left: 20%;
  bottom: 6px;
}

.footer__duck-vision {
  position: absolute;
  width: 50px;
  height: 30px;
  left: 25%;
  bottom: 9px;
}

.footer__duck-right {
  position: absolute;
  width: 50px;
  height: 30px;
  left: 31%;
  bottom: 29px;
}

.footer__icon {
  position: absolute;
  left: 48%;
  bottom: 11px;
}

.footer__duck-big {
  position: absolute;
  left: 60%;
  bottom: 6px;
}

.footer__liqpay {
  position: absolute;

  left: 72%;
  bottom: 13px;
}

.footer__visa {
  position: absolute;
  left: 86%;
  bottom: 0;
}

.footer__mastercard {
  position: absolute;
  left: 94%;
  bottom: 12px;
}